@font-face {
  font-family: "Goyang";
  src: url("/src/fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root[color-mode="dark"] {
  --background: #000;
  --color: white;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

body {
  background: var(--background);
  color: var(--color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.Loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.Loading p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 0px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 85%;
  font-size: 40px;
  padding: 10px 15px;
}

.RandomSearchButton {
  font-size: 40px;
  cursor: pointer;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}
@media screen and (max-width: 1212px) {
  .SearchInput {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  .SearchInput {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

/* dark mode 처리 */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
} */
